key_name           = "aakulov"
ami                = "ami-YOUR_AMI_ID_HERE"
smtp_ami           = "ami-YOUR_AMI_ID_HERE"
instance_type      = "t3.2xlarge"
smtp_instance_type = "t3.small"
db_instance_type   = "db.t3.medium"
region             = "eu-central-1"
cidr_vpc           = "10.5.0.0/16"
cidr_subnet1       = "10.5.1.0/24"
cidr_subnet2       = "10.5.2.0/24"
cidr_subnet3       = "10.5.3.0/24"
cidr_subnet4       = "10.5.4.0/24"
db_password        = "Your_Password1"
enc_password       = "Your_Password2"
tfe_hostname       = "tfe6.your_dns_here.hashicorp-success.com"
smtp_hostname       = "smtptfe6.your_dns_here.hashicorp-success.com"
